{% extends 'base.html' %}
{% load pages_extras %}
{% load metaprop_extras %}
{% load imagekit %}
{% load pagination_tags %}

{% block title %}Post with us {% endblock %}


{% block content %}


<div ng-controller="BlogCtrl">
<h1>Recent Posts</h1>
{% autopaginate blog_posts 10 %}
{% if blog_posts %}
    {% for post in blog_posts %}

    <div style="margin-bottom:30px;padding-top:5px;">
     <form action="" method="post" ng-controller="BlogCtrl" ng-app="zrealty" novalidate>
       {% csrf_token %}
     <a href="#" style="font-weight:bold;text-transorm:capitalize;">{{ post.author }}</a> &nbsp;<span style="font-weight:bold;text-transorm:capitalize;"> {{ post.title }} </span> &nbsp; {{ post.published }}
     <a href="{{ post.link }}">{{ post.link }}</a> 
     <br/> 
     {{ post.post }}
       <input type="hidden" name="post.id" ng-model="post.id" value="{{ post.id }}" />
       <input type="hidden" name="post.author" ng-model="post.author" value="{{ post.author }}" /> 
       <input type="hidden" name="post.title" ng-model="post.title" value="{{ post.title }}" />
       <input type="hidden" name="isauthenticated" value="{$ isauthenticated $}" />
      {% if user.username %}
            <input type="hidden" name="post.username" ng-model="post.username" value="{{ user.username }}" />
            <input type="hidden" name="post.authenticated" ng-model="post.authenticated" value="true" />
      {% endif %}
      {% if not user.username %}
            <input type="hidden" name="post.username" ng-model="post.username" value="anonymous" />
            <input type="hidden" name="post.authenticated" ng-model="post.authenticated" value="false" />
      {% endif %}

      <br/> 
      <span style="font-weight:normal;color:#000000;text-transform:capitalize;"><a href="http://zrealtycorp.com/comment?post_id={{ post.id}}">Comments({{ post.counter}}) </a></span>
| <span style="font-weight:normal;color:#000000;text-transform:capitalize;"><a id="add-comment-blog" href="#" ng-click="displayForm(post)">Add a comment</a></span>
| 
<span style="font-weight:normal;color:#000000;text-transform:capitalize;"><a href="http://zrealtycorp.com/feeds">RSS</a></span>
    </div>
    </form>
    {% endfor %}
{% endif %}
{% paginate %}

{% include 'comment_form.html' %}
</div>
{% endblock %}

