{% extends "base.html" %}
{% load render from desc_render %}
{% load cache %}

{% block head_title %}Companies{% endblock %}

{% block content %}
<small class="pull-right hidden-phone">
	{{ comp_list.render }}
</small>
<h1 align="center">Companies</h1>

{% for comp in comp_list.object_list %}
{% cache 3600 comp_list comp.pk comp.updated_date %}
<div class="navbar">
	<div class="navbar-inner">
		<div class="container pull-right"><small>
			By {{ comp.reporter.name }} on {{ comp.created_date|date:"SHORT_DATETIME_FORMAT" }}
			<br/>
			<div align="right">rating</div>
		</small></div>
		<h2 style="margin: 10px 10px 10px 0px;"><a href="{% url 'company' comp.pk %}" style="text-decoration: none; color: inherit;">{{ comp.title }}</a></h2>
		{% if comp.short %}{{ comp.short }}{% endif %}
	</div>
	<p class="pull-right" style="padding: 0px; margin: 0px;">
	{% for tag in comp.tags.all %}
		<span class="label">{{tag}}</span>
	{% endfor %}
	</p>
</div>
{{ comp.description | render }}
<br/>
[<a href="{% url 'company' comp.pk %}">Read more... {{ comp.games.count }} Games, {{ comp.comments.count }} Comments</a>]
<br/>
<br/>
{% endcache %}
{% endfor %}

<div align="right">
	<small>
		{{ comp_list.render }}
	</small>
</div>
{% endblock %}
