{% extends 'base.html' %}
{% load djangular_tags %}
{% load url from future %}
{% load uni_form_tags %}
{% load imagekit %}
{% load endless %}
{% load thumbnail %}
{% load logo_extras %}
{% load icon_extras %}
{% load dashboard_extras %}
{% load metaprop_extras %}
{% load bootstrap_toolkit %}
{% block title %}Latest Published Properties{% endblock %}

{% block content %}
<div id="dashboard" ng-controller="DashboardCtrl" ng-app="zrealty">
<h1>Customer Dashboard</h1>


<div class="clearfix"></div>
<div id="member-panel"  ng-show="memberpanel" class="panel-section">&nbsp;
</div>
<div id="blog-form"  ng-show="posttoblog" class="panel-section">
  
        <form  methond="post" ng-controller="DashboardCtrl"  name="post_form" id="post-form">
             <input name="author" id="author" ng-model="post.author" type="hidden" value="{{ user.username }}" />
             <input name="published" id="published" ng-model="post.published" type="hidden" value="" />
            {% csrf_token %}
           <div  class="dashboard-profile-row">
            <div class="dashboard-profile-titles"><span>&nbsp;&nbsp;</span></div>
            <div class="dashboard-profile-fields"  style="width:30%;height:2.0em;"> 
                         <div id="success-message" ng-show="isposted">
                           <p  ng-animate="{show: 'fade'}">Your message has been posted.</p>
                         </div>
                         <div id="failure-message" ng-show="notposted">
                           <p ng-animate="{show: 'fade'}">Please fill in all the fields.</p>
                        </div>

            </div>
           </div>
           <div class="clearfix"></div>
           <div  class="dashboard-profile-row">
            <div class="dashboard-profile-titles" > Author </div>
            <div class="dashboard-profile-fields" style="width:30%;height:2.0em;"> {{ user.username }}</div>
             
           </div>
           <div class="clearfix"></div>


           <div  class="dashboard-profile-row">
            <div class="dashboard-profile-titles"> Title </div>
            <div class="dashboard-profile-fields"> <input name="title" ng-model="post.title" type="text" value="" style="width:30%;" /></div>
           </div>
           <div class="clearfix"></div>

           <div class="clearfix"></div>
           <div  class="dashboard-profile-row">
            <div class="dashboard-profile-titles">  Link </div>
            <div class="dashboard-profile-fields">  <input name="link" ng-model="post.link" type="text" value="" style="width:30%;" /></div>
           </div>

           <div class="clearfix"></div>

           <div class="dashboard-profile-row">
             <div class="dashboard-profile-titles"> Post </div>
             <div class="dashboard-profile-fields" style="min-height:4.0em;"> 
                 <textarea  msd-elastic id="message" name="message" ng-model="post.message" value=""  style="width:30%;min-height:140px;" > 
                 </textarea>
             </div>
           </div>

           <div class="clearfix"></div>
           <div class="dashboard-profile-row">
             <div class="dashboard-profile-titles">&nbsp;&nbsp;</div>
             <div class="dashboard-profile-fields" style="margin-top:1.2em;"> 
               <input type="submit" id="post-submit" class="SignupForm-submit btn primary-btn" value="Publish" ng-click="publishBlog(post)" />             
             </div>
           </div>
           {% csrf_token %}
          </form>

          <div class="clearfix"></div>


</div>
<div id="member-form"  ng-show="memberprofile" class="panel-section">
          <form  methond="post"  name="member_form" id="member-form"  ng-submit=""  novalidate> 
           <div class="dashboard-profile-row">
                <div class="dashboard-profile-titles"> User Name</div>
                <div class="dashboard-profile-fields">
                           <input name="username" type="text" value="{{ user.username  }}" />
                </div>
                <div class="clearfix"></div>
           </div>
           <div class="clearfix"></div>

           <div  class="dashboard-profile-row">           
            <div class="dashboard-profile-titles"> Password </div>
            <div class="dashboard-profile-fields"> <input name="password" type="text" value="" /></div>
           </div>
           <div class="clearfix"></div> 

           <div class="dashboard-profile-row">
            <div class="dashboard-profile-titles"> 
             Confirm
            </div>
            <div class="dashboard-profile-fields">
                 <input name="password" type="text" value="" />           
            </div>
           </div>

           <div class="clearfix"></div>
           <div  class="dashboard-profile-row"> 
            <div class="dashboard-profile-titles">  Email </div>
            <div class="dashboard-profile-fields">  <input name="email" type="text" value="{{ user.email }}" /></div>
           </div>

           <div class="clearfix"></div>  

           <div class="dashboard-profile-row">
             <div class="dashboard-profile-titles"> First Name </div>
             <div class="dashboard-profile-fields"> <input name="first_name" type="text" value="{{ user.first_name }}" /></div>
           </div>

           <div class="clearfix"></div>
           <div class="dashboard-profile-row">
             <div class="dashboard-profile-titles"> Last Name</div>
             <div class="dashboard-profile-fields"> <input name="last_name" type="text" value="{{ user.last_name }}" /></div>
           </div> 
           <div class="dashboard-profile-row">
             <div class="dashboard-profile-titles">&nbsp;&nbsp;</div>    
             <div class="dashboard-profile-fields"> <button class="btn-primary">Update</button></div>
           </div>
           {% csrf_token %}
          </form>

          <div class="clearfix"></div>

    </form>

</div>
<div id="pr-message-form"  ng-show="privatemessage" class="panel-section">
<form ng-controller="DashboardCtrl" name="message_form">
     {% csrf_token %}
    {{message_form.as_p}}
    <br/>
    <button ng-click="submit()" class="btn-primary">Send</button>
</form>
</div>
<div id="properties-post-form"  ng-show="posttoproperties" class="panel-section">
   
    <form ng-controller="DashboardCtrl" name="property_form">
         {% csrf_token %}
        {{property_form.as_p}}
        <br/>
        <button ng-click="postProperty()" class="btn-primary">Post</button>
    </form>
</div>
<div id="diary-form"  ng-show="posttodiary" class="panel-section">
Write note to diary
</div>


          <!--
          <div style="float:left;width:50%;min-height:600px;">&nbsp;some content here</div>
          -->
          <div id="sidebar-dashboard">
               <form  methond="post"  name="dashboard_toolbar_form" id="dashboard-toolbar-form" ng-app="zrealty"  ng-submit=""  novalidate>  
               {% csrf_token %}
               <div class="header-area">
                    You are logged in as {% if user %}
                        {{ user.username }}
                       {% endif %}

                </div>
                 <div class="main-area">
                    <br/>

                            <div class="sidebar-dashboard-list">
                                 <input type="hidden" name="username" ng-model="user.username" value="{{ user.username }}" />
                                 <div class="sidebar-dashboard-list-left"> 
                                       <a href="#" ng-click="postToBlog(user)">
                                         <img src="{{ MEDIA_URL }}{% dashboard_meta 1 2 %}" height="40" width="40"  />  
                                       </a>
                                 </div>
                                 <div class="sidebar-dashboard-right">
                                             <a href="#" ng-click="postToBlog(user)">{% dashboard_meta 1 1 %}</a>
                                 </div>
                                 <div class="clearfix"></div>
                            </div> <!-- sidebar list ends -->

                            <div class="sidebar-dashboard-list">
                                 <div class="sidebar-dashboard-list-left">
                                        <a href="#" ng-click="editProfile(user)">
                                         <img src="{{ MEDIA_URL }}{% dashboard_meta 2 2 %}" height="40" width="40"  /></a>
                                 </div>
                                 <div class="sidebar-dashboard-right">
                                             <a href="#" ng-click="editProfile(user)">{% dashboard_meta 2 1 %}</a>
                                 </div>
                                 <div class="clearfix"></div>
                            </div> <!-- sidebar -->

                            <div class="sidebar-dashboard-list">
                                 <div class="sidebar-dashboard-list-left">
                                        <a href="#" ng-click="postToProperties(user)">
                                         <img src="{{ MEDIA_URL }}{% dashboard_meta 3 2 %}" height="40" width="40"  /> <a href="#">
                                        </a>
                                 </div>
                                 <div class="sidebar-dashboard-right">
                                             <a href="#" ng-click="postToProperties(user)">{% dashboard_meta 3 1 %}</a>
                                 </div>
                                 <div class="clearfix"></div>
                            </div> <!-- sidebar -->
                            <div class="sidebar-dashboard-list">
                                 <div class="sidebar-dashboard-list-left">
                                       <a href="#" ng-click="sendPrivateMessage(user)">
                                         <img src="{{ MEDIA_URL }}{% dashboard_meta 4 2 %}" height="40" width="40"  />
                                       </a>
                                 </div>
                                 <div class="sidebar-dashboard-right">
                                             <a href="#" ng-click="sendPrivateMessage(user)">{% dashboard_meta 4 1 %}</a>
                                 </div>
                                 <div class="clearfix"></div>
                            </div> <!-- sidebar -->
                            <div class="sidebar-dashboard-list">
                                 <div class="sidebar-dashboard-list-left">
                                      <a href="#" ng-click="writeNoteToDiary(user)">   
                                         <img src="{{ MEDIA_URL }}{% dashboard_meta 5 2 %}" height="40" width="40"  />
                                      </a>
                                 </div>
                                 <div class="sidebar-dashboard-right">
                                             <a href="#" ng-click="writeNoteToDiary(user)">{% dashboard_meta 5 1 %}</a>
                                 </div>
                                 <div class="clearfix"></div>
                            </div> <!-- sidebar -->
                            <div class="sidebar-dashboard-list">
                                 <div class="sidebar-dashboard-list-left">
                                        <a href="http://zrealtycorp.com/logout/{% dashboard_meta 6 3 %}"> 
                                         <img src="{{ MEDIA_URL }}{% dashboard_meta 6 2 %}" height="40" width="40"  />
                                        </a>
                                 </div>
                                 <div class="sidebar-dashboard-right">
                                             <a href="http://zrealtycorp.com/logout/{% dashboard_meta 6 3 %}">{% dashboard_meta 6 1 %}</a>
                                 </div>
                                 <div class="clearfix"></div>
                            </div> <!-- sidebar -->
                  </div>      <!-- sidebar main ends -->
                 <div class="footer-area">&nbsp;</div>
                 <div class="clearfix"></div>
                 </form>
          </div>
</div>
{% endblock %}


